* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  /* background-image: url(../images/dust_texture.png);
  background-size: contain; */
  fill: rgb(255, 255, 255);
  background-size: 222px 222px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgb(255, 255, 255)} %3C/style%3E%3Cpath class='st0' d='M136.3 119c0-5.5-4.5-10-10-10-4 0-7.4 2.3-9 5.7-1.6-3.3-5-5.7-9-5.7-5.5 0-10 4.5-10 10 0 11 19 23 19 23s19-11 19-23zM382.7 142.5l-.3-.2c-.8-.5-19.2-12.3-19.2-23.4 0-5.8 4.7-10.5 10.5-10.5 3.7 0 7.1 1.9 9 5.1 1.9-3.2 5.3-5.1 9-5.1 5.8 0 10.5 4.7 10.5 10.5 0 12.1-18.5 23-19.2 23.4l-.3.2zm-8.9-33c-5.2 0-9.5 4.3-9.5 9.5 0 9.9 16.3 20.9 18.5 22.4 2.3-1.4 18.5-11.6 18.5-22.4 0-5.2-4.3-9.5-9.5-9.5-3.7 0-6.9 2.1-8.5 5.4l-.5.9-.5-.9c-1.6-3.4-4.9-5.4-8.5-5.4z'/%3E%3Cg%3E%3Cpath class='st0' d='M363.8 368c0-5.5 4.5-10 10-10 4 0 7.4 2.3 9 5.7 1.6-3.3 5-5.7 9-5.7 5.5 0 10 4.5 10 10 0 11-19 23-19 23s-19-11-19-23zM117.3 391.5l-.3-.2c-.8-.5-19.2-11.3-19.2-23.4 0-5.8 4.7-10.5 10.5-10.5 3.7 0 7.1 1.9 9 5.1 1.9-3.2 5.3-5.1 9-5.1 5.8 0 10.5 4.7 10.5 10.5 0 11.1-18.4 22.9-19.2 23.4l-.3.2zm-9-33c-5.2 0-9.5 4.3-9.5 9.5 0 10.8 16.2 21 18.5 22.4 2.3-1.5 18.5-12.5 18.5-22.4 0-5.2-4.3-9.5-9.5-9.5-3.7 0-6.9 2.1-8.5 5.4l-.5.9-.5-.9c-1.6-3.4-4.9-5.4-8.5-5.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: black;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* start header  */
header {
  text-align: center;
  padding: 20px;
  direction: rtl;
}
header .logo {
  width: 150px;
}
header p {
  color: white;
  font-size: 40px;
  margin: 20px auto;
  padding: 7px 0;
}
/* End header  */
/* start cotent */
.content {
  text-align: center;
}
.content img {
  width: 540px;
  max-width: 100%;
}
/* end cotent */
/* start footer */
footer {
  background-color: #f1f1f1;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .My-sign {
  font-size: 30px;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer a i {
  font-size: 35px;
  margin: 0 5px;
}
footer .fa-whatsapp-square:hover {
  color: #1ebea5;
}
footer .fa-facebook-square:hover {
  color: #3b5998;
}
footer .fa-instagram-square:hover {
  color: #c13584;
}
footer .fa-telegram:hover {
  color: #0088cc;
}
footer .fa-map-marker-alt:hover {
  color: red;
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
/* end footer */
